
<div class="wrapper">
  <div class="container-presentation">
    <div class="row justify-content-center">

      <div class="container-presentation-text col-12 col-lg-8">
          <h2 class="container-presentation-title" >Les 7 productions</h2>
          <p class="container-presentation-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <li class="container-presentation-question">Have any questions? Contact us!</li>
          <h1 class="container-presentation-number">+33 01 01 01 01 01</h1>

      </div>

      <div class="container-presentation-img col-12 col-lg-4">
        <%# <%= image_tag "rectangle.jpg", class: "img1" %>
              <%= image_tag "rectangle.jpg", class: "img2" %>
              <%# <%= image_tag "rectangle.jpg", class: "img3" %>
              <%= image_tag "rectangle.jpg", class: "img4" %>
              <%= image_tag "rectangle.jpg", class: "img5" %>
              <%= image_tag "rectangle.jpg", class: "img6" %>
              <%= image_tag "rectangle.jpg", class: "img7" %>
              <%= image_tag "rectangle.jpg", class: "img8" %>

      </div>
    </div>
  </div>

  <div class="container-propos">
    <div class="row justify-content-center">

      <div class="container-propos-text col-12 col-lg-8">

          <h2 class="container-propos-title">Qui sommes-nous ? </h2>
          <p class="container-propos-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <%= image_tag "rectangle.jpg", class: "img10" %>
      </div>
    </div>
  </div>

  <div class="container-video">
    <div class="row ">

      <div class="container-video-text col-12 col-lg-8">
          <h2 class="container-video-title" >Nos vidéo</h2>
          <p class="container-presentation-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      </div>

      <div class="container-video-img col-12 col-lg-4">
         <%= image_tag "rectangle.jpg", class: "img11" %>
      </div>
    </div>
  </div>



</div>
