<H1>portfolio</H1>

<div class="container-projet">
  <div class="row justify-content-center">
    <div class=" col-12 col-6">
      <div class="cards">


              <figure class="snip1091 yellow", style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),  url('<%= image_path "rectangle.jpg" %>')" alt="sq-sample6" id="size-img">
          <figcaption>
            <h2>  Digital clock</h2>
          </figcaption><a href="https://digital-clock-melitapis.herokuapp.com/"></a>
        </figure>
             <figure class="snip1091 red", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "rectangle.jpg" %>')" alt="sq-sample6" id="size-img">
          <figcaption>
            <h2> costock</h2>
          </figcaption><a href="http://www.costock.live/"></a>
        </figure>
        <figure class="snip1091 red", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "rectangle.jpg" %>')" alt="sq-sample6" id="size-img">
          <figcaption>
            <h2> spacetube</h2>
          </figcaption><a href="https://spacetobe.herokuapp.com/"></a>
        </figure>

          <figure class="snip1091 navy", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "rectangle.jpg" %>')" alt="sq-sample10" id="size-img">
              <figcaption>
              <h2>  <span>🚧 Bientôt 🚧</span></h2>
            </figcaption><a href="#"></a>
          </figure>

           <figure class="snip1091 navy", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "rectangle.jpg" %>')" alt="sq-sample10" id="size-img">
              <figcaption>
              <h2>  <span>🚧 Bientôt 🚧</span></h2>
            </figcaption><a href="#"></a>
          </figure>

           <figure class="snip1091 navy", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "rectangle.jpg" %>')" alt="sq-sample10" id="size-img">
              <figcaption>
              <h2>  <span>🚧 Bientôt 🚧</span></h2>
            </figcaption><a href="#"></a>
          </figure>

      </div>
  </div>
</div>
